{% comment %}

    Accepts:
    - product: {Object} Product Liquid object

    Usage:
    {% render 'price', product: product %}

{% endcomment %}

{%- if product and product != blank -%}

  {% assign available = product.available %}
  {% assign price = product.price %}
  {% assign price_compare = product.compare_at_price %}

  <div class="price">
    {% if price_compare %}
      <span class="price__value discount">{{ price | money }}</span>
      <span class="price__value {% if price_compare %}sale-price{% endif %}"> {{ price_compare | money }}</span>
    {% else %}
    <span class="price__value {% if price_compare %}sale-price{% endif %}">{{ price | money }}</span>
    {% endif %}
    <!-- <span class="price__currency">{{ shop.currency }}</span> -->
  </div>

{%- endif -%}
