{% form 'product', product %}

<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">



<div class="row pt-30 pt-lg-70 justify-content-between">
  <div class="col-6">

    <div class="product-form__quantity quantity">
      <span class="input-number-decrement quantity__button">
        -
      </span>
      <input type="number" id="Quantity-{{ product.id }}" name="quantity" value="1" min="1" pattern="[0-9]*"
        class="quantity__input product-form__input product-form__input--quantity"
        aria-label="{{ 'general.accessibility.quantity' | t }}">
        
      <span class="input-number-increment quantity__button">
        +
      </span>
    </div>


  </div>
  <div class="col-6">

    <button  class="cta justify-content-end" type="submit" name="add" id="add-to-cart">
      <span class="link outlined">Add to cart</span>
    </button>
  </div>
</div>

{% endform %}