@use "sass:color";
@use "sass:math";
@use "sass:map";
//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// ---------------------------------------- Theme Info
$theme-info: (
  'author': 'Very Polite Agency',
  'name': 'studio D | Shopify',
  'uri': 'https://weareverypolite.com',
  'desc': 'Detail oriented, beautifully complex, yet overwhelmingly simple. Less is more, fully responsive and most certainly mobile first.',
  'version': '2.0',
);

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-sizes: (
  'base': 15px,
  'sm': 15px,
  'md': 17px,
  'lg': 14px,
  'xl': 16px,
  'xxl': 18px
);

// ---------------------------------------- Border Radius
$theme-border: (
  'radius': 4px,
  'width': 1px,
);

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 136px,
  'sm': 136px,
  'md': 136px,
  'lg': 116px,
  'xl': 120px,
  'xxl': 124px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': #000000,
  'white': #ffffff,
  'red': #FF000F,
);

// ---------------------------------------- Font Sizes | Heading
$theme-field-min-heights: (
  'base': 38px,
  'sm': 38px,
  'md': 38px,
  'lg': 38px,
  'xl': 38px,
  'xxl': 38px,
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 32px,
  'sm': 42px,
  'md': 52px,
  'lg': 32px,
  'xl': 42px,
  'xxl': 52px
);

// ---------------------------------------- Header Height
$theme-header-heights: (
  'base': 100px,
  'sm': 110px,
  'md': 120px,
  'lg': 90px,
  'xl': 100px,
  'xxl': 110px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 20px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);
