//////////////////////////////////////////////////////////
////  Flexible Content | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Flexible Content | Styles
//////////////////////////////////////////////////////////

.flexible-content {

  .section {
    &[data-index="0"] {
      margin-top: 0;
    }
    & + .section {
      margin-top: calc( 0.65 * var(--theme-section-margin) );
    }
  }

  .images__image {
    border: 1px solid rgba(var(--theme-colour-black), 0.05 );
  }

  @include breakpoint(sm) {

    .section {
      & + .section {
        margin-top: calc( 0.65 * var(--theme-section-margin--sm) );
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .section {
      & + .section {
        margin-top: calc( 0.65 * var(--theme-section-margin--md) );
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .section {
      & + .section {
        margin-top: calc( 0.65 * var(--theme-section-margin--lg) );
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .section {
      & + .section {
        margin-top: calc( 0.65 * var(--theme-section-margin--xl) );
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .section {
      & + .section {
        margin-top: calc( 0.65 * var(--theme-section-margin--xxl) );
      }
    }

  } // min width xxl

} // .flexible-content
