{%- assign section_name = 'hero' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign height = section.settings.height | default: 'large' %}
{% assign image = section.settings.image | default: false %}
{% assign width = section.settings.width | default: 'full' %}

<div  class="hero-section" id="{{ section_id }}">

    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-12">
          <img class="w-100 h-100" src="{{ section.settings.image | img_url: 'master' }}" alt="Hero Image">
        </div>
      </div>
      <div class="row">
        <div class="col-10"></div>
      </div>
    </div>

</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section-hero",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Width",
      "type": "select",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "inset", "label": "Inset" }
      ],
      "default": "full",
      "id": "width"
    },
    {
      "label": "Height",
      "type": "select",
      "options": [
        { "value": "large", "label": "Large" }
      ],
      "default": "large",
      "id": "height"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
