//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fonts | Styles
//////////////////////////////////////////////////////////

// @font-face {
//     font-family: 'SaaSeriesBD';
//     src: url('./SaaSeriesBD.eot');
//     src: local('SaaSeriesBD'),
//        url('./SaaSeriesBD.eot?#iefix') format('embedded-opentype'),
//         url('./SaaSeriesBD.woff2') format('woff2'),
//         url('./SaaSeriesBD.woff') format('woff'),
//         url('./SaaSeriesBD.ttf') format('truetype'),
//         url('./SaaSeriesBD.svg#SaaSeriesBD') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

//////////////////////////////////////////////////////////
////  GT Aplina
//////////////////////////////////////////////////////////

@font-face {
    font-family: 'GT Alpina';
    // src: url('./GTAlpina-Th.eot');
    src: local('GT Alpina Th'), local('GTAlpina-Th'),
        url('GTAlpina-Th.eot') format('embedded-opentype'),
        url('GTAlpina-Th.woff2') format('woff2'),
        url('GTAlpina-Th.woff') format('woff'),
        url('GTAlpina-Th.ttf') format('truetype'),
        url('/GTAlpina-Th.svg#GTAlpina-Th') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Alpina';
    // src: url('./GTAlpina-Lt.eot');
    src: local('GT Alpina Lt'), local('GTAlpina-Lt'),
        url('./GTAlpina-Lt.eot?#iefix') format('embedded-opentype'),
        url('./GTAlpina-Lt.woff2') format('woff2'),
        url('./GTAlpina-Lt.woff') format('woff'),
        url('./GTAlpina-Lt.ttf') format('truetype'),
        url('./GTAlpina-Lt.svg#GTAlpina-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Alpina';
    // src: url('./GTAlpina-Rg.eot');
    src: local('GT Alpina Rg'), local('GTAlpina-Rg'),
        url('./GTAlpina-Rg.eot?#iefix') format('embedded-opentype'),
        url('./GTAlpina-Rg.woff2') format('woff2'),
        url('/GTAlpina-Rg.woff') format('woff'),
        url('./GTAlpina-Rg.ttf') format('truetype'),
        url('./GTAlpina-Rg.svg#GTAlpina-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Fine
@font-face {
    font-family: 'GT Alpina Fine';
    // src: url('./GTAlpinaFine-Th.eot');
    src: local('GT Alpina Fine Th'), local('GTAlpinaFine-Th'),
        url('./GTAlpinaFine-Th.eot?#iefix') format('embedded-opentype'),
        url('./GTAlpinaFine-Th.woff2') format('woff2'),
        url('./GTAlpinaFine-Th.woff') format('woff'),
        url('./GTAlpinaFine-Th.ttf') format('truetype'),
        url('./GTAlpinaFine-Th.svg#GTAlpinaFine-Th') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

//////////////////////////////////////////////////////////
////  Neue Montreal
//////////////////////////////////////////////////////////

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-Light.eot');
    src: local('Neue Montreal Light'), local('NeueMontreal-Light'),
        url('./NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Light.woff2') format('woff2'),
        url('./NeueMontreal-Light.woff') format('woff'),
        url('./NeueMontreal-Light.ttf') format('truetype'),
        url('./NeueMontreal-Light.svg#NeueMontreal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-LightItalic.eot');
    src: local('Neue Montreal Light Italic'), local('NeueMontreal-LightItalic'),
        url('./NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-LightItalic.woff2') format('woff2'),
        url('./NeueMontreal-LightItalic.woff') format('woff'),
        url('./NeueMontreal-LightItalic.ttf') format('truetype'),
        url('./NeueMontreal-LightItalic.svg#NeueMontreal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-Regular.eot');
    src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
        url('./NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Regular.woff2') format('woff2'),
        url('./NeueMontreal-Regular.woff') format('woff'),
        url('./NeueMontreal-Regular.ttf') format('truetype'),
        url('./NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-Italic.eot');
    src: local('Neue Montreal Italic'), local('NeueMontreal-Italic'),
        url('./NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Italic.woff2') format('woff2'),
        url('./NeueMontreal-Italic.woff') format('woff'),
        url('./NeueMontreal-Italic.ttf') format('truetype'),
        url('./NeueMontreal-Italic.svg#NeueMontreal-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-Bold.eot');
    src: local('Neue Montreal Bold'), local('NeueMontreal-Bold'),
        url('./NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-Bold.woff2') format('woff2'),
        url('./NeueMontreal-Bold.woff') format('woff'),
        url('./NeueMontreal-Bold.ttf') format('truetype'),
        url('./NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    // src: url('./NeueMontreal-BoldItalic.eot');
    src: local('Neue Montreal Bold Italic'), local('NeueMontreal-BoldItalic'),
        url('./NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('./NeueMontreal-BoldItalic.woff') format('woff'),
        url('./NeueMontreal-BoldItalic.ttf') format('truetype'),
        url('./NeueMontreal-BoldItalic.svg#NeueMontreal-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
