//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

$header-logo-characters: ( 's', 't', 'u', 'd', 'i', 'o', 'vr', 'big-d', 'period' );

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header-tabs {
  background-color: #F2F2F2;

  &-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 17px;

    &:first-of-type {
      padding: 8px 40px;
    }

    &.active {
      background-color: white;
    }
  }
}

.header {

  transition: border 280ms, height 280ms;

  a {
    &:active,
    &:focus,
    &:hover {
      // opacity: 0.4;
      color: inherit;
      overflow: visible;
    }
  }

  .link {
    &.active {
      // opacity: var(--theme-hover-opacity--heavy);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .logo-character {
    opacity: 0;
  }

  &__brand {
    transition: height 280ms;
    height: 26px;
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__hamburger {
    display: inline-flex;
  }

  &__layout {
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    &__networks {
    background: #f2f2f2;
    &-navigation {
      display: flex;
      &-item {
        &:first-child {
          .link {
            padding: 8px 40px;
          }
        }
      }
      &-link {
        font-family: var(--theme-font-family--sans-serif--neue-montreal);
        font-size: 13px;
        font-weight: 400;
        line-height: 116%;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px 17px;
        text-decoration: none !important;
        &.active,
        &:hover {
          background: #fff;
          opacity: 1 !important;
          text-decoration: none !important;
        }
      }
    }
  }

  &.fixed {
    background: rgba(var(--theme-colour-white), 1);
    border-bottom-width: var(--theme-border-width);
    border-bottom-style: solid;
    border-bottom-color: transparent;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .mobile-menu--active &,
  .scroll-position--scrolled & {
    border-bottom-color: rgba(var(--theme-colour-black), 1);
    .header {
      &__brand {
        height: 22px;
      }
    }
  }

  @include breakpoint(sm) {

    &__brand {
      height: 28px;
    }

    .scroll-position--scrolled & {
      .header {
        &__brand {
          height: 24px;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__brand {
      height: 30px;
    }

    .scroll-position--scrolled & {
      .header {
        &__brand {
          height: 26px;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .navigation {
      height: 100%;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      &__cta {
        width: auto;
      }
      &__link {
        font-family: var(--theme-font-family--sans-serif--neue-montreal);
        text-transform: uppercase;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        transition: all .3s ease;
      }
      &__item {
        & + .navigation__cta,
        & + .navigation__item {
          padding: 0 15px;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .navigation {
      &__link {
        font-size: 13px;
      }
      &__item {
        & + .navigation__cta,
        & + .navigation__item {
          padding: 0 15px;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .navigation {
      &__link {
        font-size: 14px;
      }
      &__item {
        & + .navigation__cta,
        & + .navigation__item {
          padding: 0 22px;
        }
      }
    }

  } // min width xxl

} // header


.main-header {
  background-color: white;

  .navigation__link {
    transition: all .3s ease;
    &:hover {
        opacity: 0.3;
    }


  }

}

.nav-submenu {
  display: flex;
  height: 100%;
  &:hover {
    .megamenu-drop {
      opacity: 1;
      pointer-events: all;
    }
  }

  &-mobile {
    button {
      padding: 0;
    }
  }

}

.megamenu-drop {
  transition: all .4s ease;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;
  border-top: 1px solid black;

  .navigation__link {
    &:hover {
      text-decoration: none;
    }
  }
  &-list {
    margin-left: 110px;
    &:first-child {
      margin-left: 0;
    }
  }

  .container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .navigation__item{
    & + .navigation__item {
      padding-left: 0;
    }
  }

  .menu-title {
    padding-bottom: 20px;
  }
}


.hamburger {
  padding: 0;
}

.hamburger-box {

  height: 15px;
  width: 24px;
}

.hamburger-inner {
  height: 1px;
    width: 24px;
    border-radius: 4px;
  &::before, &::after {
    height: 1px;
    width: 24px;
    border-radius: 4px;
  }

  &::before {
    top: -7px;
  }

  &::after {
    bottom: -7px;
  }
}

.cart-count {
  font-size: 12px;
  margin-left: 5px;
  @include media-breakpoint-down(md){
    font-size: 16px;
  }
}

.account-link {
  color: #247200;
  .link__title {
    margin-left: 5px;
  }
}

.navigation__link[aria-expanded="true"] {
  svg {
    path {
      &:first-of-type {
        display: none;
      }
    }
  }
}

