main {

  .shopify-section {
    & + .shopify-section {
      margin-top: var(--theme-section-margin);
    }
    &.section-title {
      & + .shopify-section {
        margin-top: 0px;
      }
    }
  }

  @include breakpoint(sm) {

    .shopify-section {
      & + .shopify-section {
        margin-top: var(--theme-section-margin--sm);
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .shopify-section {
      & + .shopify-section {
        margin-top: var(--theme-section-margin--md);
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .shopify-section {
      & + .shopify-section {
        margin-top: var(--theme-section-margin--lg);
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .shopify-section {
      & + .shopify-section {
        margin-top: var(--theme-section-margin--xl);
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .shopify-section {
      & + .shopify-section {
        margin-top: var(--theme-section-margin--xxl);
      }
    }

  } // min width xxl

}
