//////////////////////////////////////////////////////////
////  Mobile Menu | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

.mobile-menu {

  transition:
    background var(--theme-transition-duration),
    transform var(--theme-transition-duration);
  background: rgba( var(--theme-colour-white), 1 );
  color: rgba( var(--theme-colour-black), 1 );
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 50;
  transform: translate3d( 0, -100%, 0 );
  will-change: background, transform;

  a {
    &:active,
    &:focus,
    &:hover {
      opacity: var(--theme-hover-opacity--heavy);
      color: inherit;
    }
  }

  .brand {
    color: rgba(var(--theme-colour-black), 1);
    height: 70px;
    width: auto;
    position: absolute;
    bottom: 18px;
    right: 0;
    a, svg {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  .link {
    &.active {
      opacity: var(--theme-hover-opacity--heavy);
    }
  }

  .navigation {
    &__item {
      font-family: var(--theme-font-family--serif--gt-alpina-fine);
      font-size: 42px;
      line-height: 1%;
      letter-spacing: -0.03em;
      text-transform: capitalize;
      

      &:last-of-type {
        border-bottom-color: transparent;
      }

      & + .navigation__cta{
        margin-top: 32px;
      }
    }

    &__link {
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid black;

      
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    &__item {
      & + .social__item {
        margin-left: 24px;
      }
    }
    &__link {
      color: rgba( var(--theme-colour-black), 1 );
      height: 22px;
      width: auto;
      a, svg {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }

  &__footer {
    padding: 30px 0;
    position: relative;
  }

  &__layout {
    padding-top: var(--theme-header-height--total);
    padding-left: var(--bs-gutter-width);
    padding-right: var(--bs-gutter-width);
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  &__main {
    padding: 32px 0 0 0;
    flex: 1;
    overflow: auto;
  }

  .mobile-menu--active & {
    transform: translate3d( 0, 0, 0 );
  }

  @include media-breakpoint-up(sm) {} // min width sm



  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .mobile-menu


.accordion-content {
  padding-bottom: 20px;
  
  &.show {
    border-bottom: 1px solid black;
  }

  .navigation__link {
    padding: 0 0 5px;
    border-bottom: none;
    justify-content: start;
  }
}

.navigation__link[aria-expanded="true"] {
  border-bottom-color: transparent !important;
}

.mobile-menu__buttons {
  display: flex;
  align-items: center;
  padding-bottom: 60px;

  .link-text {
    font-size: 16px;
    margin-left: 5px;
  }

  .navigation__item {
    margin-right: 30px;
  }

  

}

.navigation__item{
  &:last-child {
    .navigation__link {
      border-bottom-color: transparent;
    }
  }
}