//General Styles

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
    margin-left: 0;
}

button {
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

input {
    border: none;
}

.section-title {
    padding: 20px 0;

}

.collection-product-grid__filter {
    padding-bottom: 40px;

    @include media-breakpoint-down(lg){
        padding-bottom: 55px;
    }

    .collection-description {
        padding-top: 50px;
    }
  }