//General Styles
body {
    &.show {
        overflow-y: hidden;
    }
}


ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
    margin-left: 0;
}

button {
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

input {
    border: none;
}

p {
    margin-bottom: 0;
}

//Utility CLasses

.bb-black {
    border-bottom: 1px solid black;
}

.disabled {
    opacity: 0.4;
}

.text-right {
    text-align: right;
}

.muted-text {
    color: #B3B3B3;
}

.discount {
    color: #B3B3B3;
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.pl-0 {
    padding-left: 0;
}


// Pages & Components

.section-title {
    padding: 20px 0 110px;

}

.product-main {
    .price {
        span {
            font-size: 18px;
        }
    }

    .accordion {
        .navigation__item {
            .navigation__link {
                padding: 6px 0;
                border-bottom: 1px solid $black;
            }

            &:first-child {
                .navigation__link  {
                    border-top: 1px solid $black;
                }
            }
        }
    }
    .cta {
        padding-right: 0;
        .link.outlined {
            min-height: 26px;
        }
    }
}

.quantity {
    display: flex;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
        width: 30px;
        -moz-appearance: textfield;

        margin: 0 10px;
        height: 26px;
        border: 1px solid $black;
        padding: 2px 9px;
        text-align: center;
        @include link-text;
    }

    &__button {
        height: 26px;
        width: 29px;
        padding: 2px 9px;
        border: 1px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

.cart-item {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid $black;

    &__thumb {
        max-height: 120px;
        object-fit: cover;
    }

    &__remove {
        position: absolute;
        right: 0;
        top: 20px;
        
    }
}

.shopify-challenge__container .shopify-challenge__button {
    margin-top: 20px;
    @include link-text;
    padding: 10px 20px;
    border: 1px solid $black;
    border-radius: 0;
}


.reset-password {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: $white;
    width: 100%;
    height: 100%;

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}