//General Styles

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
    margin-left: 0;
}

button {
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

input {
    border: none;
}