//////////////////////////////////////////////////////////
////  Typography | Components
//////////////////////////////////////////////////////////

@import '../components/heading.scss';
@import '../components/message.scss';
@import '../components/title.scss';

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
  @include body-copy( 1, 1.35, 300 );
  font-family: var(--theme-font-family--serif--gt-alpina);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

@mixin h4 {
  font-family: var(--theme-font-family--serif--gt-alpina);
  font-weight: 100;
  font-size: 26px;
}

h4, .h4 {@include h4}

@mixin link-text {
  font-family: var( --theme-font-family--sans-serif--neue-montreal);
  font-size: 13px;
  font-weight: normal;
  line-height: 116%;
  text-transform: uppercase;
}

.link-text, .header-tabs-tab {@include link-text}

@mixin menu-title {
  font-family: var(--theme-font-family--serif--gt-alpina-fine);
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  text-transform: none;
}

.menu-title {@include menu-title}

// ---------------------------------------- Text Case
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

// ---------------------------------------- Font Weight
@for $i from 1 through 9 {
  .font-weight--#{$i}00 {
    font-weight: $i * 100;
  }
}

@include media-breakpoint-up(sm) {} // min width sm

@include media-breakpoint-up(md) {} // min width md

@include media-breakpoint-up(lg) {} // min width lg

@include media-breakpoint-up(xl) {} // min width xl

@include media-breakpoint-up(xxl) {} // min width xxl
