//////////////////////////////////////////////////////////
////  Field | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Field | Styles
//////////////////////////////////////////////////////////

.field {

  transition:
    border var(--theme-transition-duration),
    height var(--theme-transition-duration);
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;

  padding: 10px 0;
  border-bottom: 1px solid black;

  &:first-of-type {
    border-top: 1px solid $black;
  }

  label {
    flex: 1
  }

  input, 
  .select {
    flex: 2
  }

  &--textarea {
    @extend .field;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    flex-flow: row wrap;
    align-items: center;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .field
