//////////////////////////////////////////////////////////
////  Heading | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {


  &--border-bottom {
    border-bottom: 1px solid rgba(var(--theme-colour-black),1);
    padding-bottom: 20px;
  }

  &--primary {
    font-family: var(--theme-font-family--serif--gt-alpina-fine);
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
    line-height: 1;
    letter-spacing: -0.03em;
  }

  &--secondary {
    font-family: var(--theme-font-family--sans-serif--neue-montreal);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }

  &--section {
    margin-bottom: 16px;
  }

  &--2 {
    font-size: 30px;
  }

  &--3 {
    font-size: 25px;
  }

  @include media-breakpoint-up(sm) {

    &--2 {
      font-size: 34px;
    }

    &--3 {
      font-size: 27px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &--2 {
      font-size: 38px;
    }

    &--3 {
      font-size: 29px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &--primary {
      font-size: 30px;
    }

    &--secondary {
      font-size: 18px;
    }

    &--2 {
      font-size: 34px;
    }

    &--3 {
      font-size: 27px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &--2 {
      font-size: 38px;
    }

    &--3 {
      font-size: 29px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &--2 {
      font-size: 42px;
    }

    &--3 {
      font-size: 31px;
    }

  } // min width xxl

} // .heading
