//////////////////////////////////////////////////////////
////  Input | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Input | Styles
//////////////////////////////////////////////////////////

.input {

  @include placeholder {
    color: rgba(var(--theme-colour-black), 0.2 );
  }

  transition:
    background var(--theme-transition-duration),
    color var(--theme-transition-duration),
    border var(--theme-transition-duration),
    height var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 10px 10px 10px 0;
  background: transparent;



  &--email,
  &--tel,
  &--text {
    @include field-min-height();
    @extend .input;
    -webkit-appearance: none;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .input


.input-newsletter {
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  color: black;
  padding-bottom: 2px;
  &::placeholder {
    font-size: 14px;
    opacity: 0.3;
    font-weight: 300;

  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  display: grid;
  place-content: center;
  opacity: 1;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    transition: 120ms transform ease-in-out;
    
  }

  &:checked::before {
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.691406 4.00002L4.07602 7.38463L9.30679 0.923096' stroke='black'/%3E%3C/svg%3E%0A");
  }
  
}