//////////////////////////////////////////////////////////
////  Input | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Input | Styles
//////////////////////////////////////////////////////////

.input {

  @include placeholder {
    color: rgba(var(--theme-colour-black), 0.2 );
  }

  transition:
    background var(--theme-transition-duration),
    color var(--theme-transition-duration),
    border var(--theme-transition-duration),
    height var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 10px 10px 10px 0;
  background: transparent;

  &--email,
  &--tel,
  &--text {
    @include field-min-height();
    @extend .input;
    -webkit-appearance: none;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .input
