//////////////////////////////////////////////////////////
////  Intro Para | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Intro Para | Styles
//////////////////////////////////////////////////////////

.intro-para {

  font-family: var(--theme-font-family--serif--gt-alpina);
  font-style: normal;
  display: block;
  font-weight: 100;
  font-size: 20px;
  margin: 0 auto 32px;
  line-height: 1.3;

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    font-size: 22px;
    margin: 0 auto 38px;

  } // min width lg

  @include breakpoint(xl) {

    font-size: 24px;
    margin: 0 auto 30px;

  } // min width xl

  @include breakpoint(xxl) {

    font-size: 26px;
    margin: 0 auto 32px;

  } // min width xxl

} // .intro-para
