//////////////////////////////////////////////////////////
////  Post Preview | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Post Preview | Styles
//////////////////////////////////////////////////////////

.post-preview {

  &__faq-question,
  &__team-name,
  &__team-role,
  &__title {
    font-family: var(--theme-font-family--serif--gt-alpina);
    font-style: normal;
  }

  &__testimonial-author {
    display: block;
  }

  &__team-name,
  &__team-role {
    @include body-copy( 1, 1.15, 400 );
  }

  &__testimonial-quote,
  &__faq-question {
    @include body-copy( 1.125, 1.15, 500 );
  }

  &__cta {
    margin-top: 10px;
  }

  &__content {
    display: inline-flex;
    width: 100%;
  }

  &__faq-answer {
    @include body-copy( 1, 1.15, 100 );
    margin-top: 15px;
  }

  &__faq-question {}

  &__featured-image {
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      opacity: 1;
      &:hover {
        opacity: 0.6666;
      }
    }
    & + .post-preview__content  {
      padding-top: 15px;
    }
  }

  &__team-name {
    & + .post-preview__team-role {
      margin-top: 2px;
    }
  }

  &__team-role {
    opacity: 0.5;
  }



  &__title {
    @include body-copy( 1, 1.15, 100 );
  }

  &[data-style^="column"] {
    border: 2px solid blue;
  }

  &[data-style^="row"] {
    border: 2px solid pink;
  }

  &[data-style="row"] {
    .client {}
    .faq {}
    .job {
      &-location,
      &-role {
        @include body-copy(1, 1, 100 );
        font-family: var(--theme-font-family--serif--gt-alpina);
        font-style: normal;
      }
      &-cta {
        width: auto;
        margin-left: auto;
        .link.text-with-arrow {
          margin: 0;
        }
      }
      &-item {
        border-top: 1px solid rgba(var(--theme-colour-black), 1);
        display: inline-flex;
        padding: 20px 0;
        width: 100%;
        flex-flow: row wrap;
        &:last-child {
          border-bottom: 1px solid rgba(var(--theme-colour-black), 1);
        }
      }
      &-label {
        display: block;
      }
      &-layout {
        display: flex;
        width: 100%;
        flex-flow: column;
      }
      &-location {
        width: 100%;
        opacity: 0.3333;
        margin-top: 8px;
      }
      &-role {
        width: 66.6666%;
      }
    }
    .location {}
    .press {}
    .press {}
    .project {}
    .team {}
    .testimonial {}
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &[data-style="row"] {
      .client {}
      .faq {}
      .job {
        &-cta {
          order: 3;
          width: 18%;
        }
        &-item {
          flex-flow: row nowrap;
        }
        &-location {
          order: 2;
          margin: 0;
          flex: 1;
          opacity: 1;
        }
        &-role {
          order: 1;
          width: 50%;
        }
      }
      .location {}
      .press {}
      .press {}
      .project {}
      .team {}
      .testimonial {}
    }

    &__testimonial-author {
      font-size: 13px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__testimonial-author {
      font-size: 14px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__testimonial-author {
      font-size: 15px;
    }

  } // min width xxl

} // .post-preview
