//////////////////////////////////////////////////////////
////  Project Preview | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Project Preview | Styles
//////////////////////////////////////////////////////////

.project-preview {

  &__feature-image {
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include breakpoints(sm) {} // min width sm

  @include breakpoints(md) {} // min width md

  @include breakpoints(lg) {} // min width lg

  @include breakpoints(xl) {} // min width xl

  @include breakpoints(xxl) {} // min width xxl

} // .project-preview
