//////////////////////////////////////////////////////////
////  Select | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Select | Styles
//////////////////////////////////////////////////////////

select {
  appearance: none;
  border: none;
  text-shadow: none;

  &:focus, &:focus-visible, &:focus-within {
    outline: none;
  }
}

.select {
  
  &--primary {
    margin-left: 5px;
    color: #B3B3B3;
  }

  @include field-min-height();
  width: 100%;
  border: none;
  outline: none;
  padding: 0;

  &[multiple] {
    // min-height: auto;
    // margin: 15px 0;
    // padding: 10px 0;
    option {
      & + option {
        margin-top: 4px;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .select
