//////////////////////////////////////////////////////////
////  Text Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Text Feature | Styles
//////////////////////////////////////////////////////////

.text-feature {

  text-align: center;

  [data-text-alignment-left] {
    text-align: left;
    .cta {
      justify-content: flex-start;
    }
  }

  [data-text-alignment-center] {
    text-align: center;
    .cta {
      justify-content: center;
    }
  }

  [data-text-alignment-right] {
    text-align: right;
    .cta {
      justify-content: flex-end;
    }
  }

  &__content {
    font-family: var(--theme-font-family--serif--gt-alpina-fine);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
    .body-copy--1 {
      font-family: var(--theme-font-family--serif--gt-alpina);
      font-size: var(--theme-body-copy);
      letter-spacing: 0;
      line-height: 1.35;
      font-weight: 100;
      font-style: normal;
      p + p {
        margin-top: 16px;
      }
    }
  }

  &__cta {
    margin-top: 20px;
    .link {
      min-width: 170px;
      letter-spacing: 0;
    }
  }

  .heading {
    &--2,
    &--3 {
      & + .text-feature__message {
        margin-top: 22px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__content {
      font-size: 34px;
      .body-copy--1 {
        font-size: var(--theme-body-copy--sm);
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__content {
      font-size: 36px;
      .body-copy--1 {
        font-size: var(--theme-body-copy--md);
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      &--2,
      &--3 {
        & + .text-feature__message {
          margin-top: 26px;
        }
      }
    }

    &__content {
      font-size: 38px;
      .body-copy--1 {
        font-size: var(--theme-body-copy--lg);
      }
    }

    &__cta {
      margin-top: 30px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__content {
      font-size: 45px;
      .body-copy--1 {
        font-size: var(--theme-body-copy--xl);
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__content {
      font-size: 55px;
      .body-copy--1 {
        font-size: var(--theme-body-copy--xxl);
      }
    }

  } // min width xxl

} // .text-feature
