//////////////////////////////////////////////////////////
////  Vertical Rule | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Vertical Rule | Styles
//////////////////////////////////////////////////////////

.vr {

  background: rgba(var(--theme-colour-black), 1);
  display: block;
  width: 1px;
  height: 100%;

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .vr
