//////////////////////////////////////////////////////////
////  Job | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Job | Styles
//////////////////////////////////////////////////////////

.job {

  &__location,
  &__role {
    @include body-copy(1, 1, 400 );
    font-family: var(--theme-font-family--serif--gt-alpina);
    font-style: normal;
  }

  &__cta {
    width: auto;
    margin-left: auto;
    .link.text-with-arrow {
      margin: 0;
    }
  }

  &__item {
    border-top: 1px solid rgba(var(--theme-colour-black), 1);
    display: inline-flex;
    padding: 20px 0;
    width: 100%;
    flex-flow: row wrap;
    &:last-child {
      border-bottom: 1px solid rgba(var(--theme-colour-black), 1);
    }
  }

  &__label {
    display: block;
  }

  &__layout {
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: baseline;
  }

  &__location {
    width: 100%;
    opacity: 0.3333;
    margin-top: 8px;
  }

  &__role {
    width: 66.6666%;
  }

  // ---------------------------------------- Row
  &[data-style^="row"] {
    .job {
      &__cta {
        margin: 0;
      }
      &__layout {
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: baseline;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    // ---------------------------------------- Row
    &[data-style^="row"] {
      .job {
        &__cta {
          order: 3;
          width: 18%;
          justify-content: flex-end;
        }
        &__layout {
          flex-flow: row nowrap;
        }
        &__location {
          order: 2;
          margin: 0;
          flex: 1;
          opacity: 1;
        }
        &__role {
          order: 1;
          width: 50%;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .job
